<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @restaurant.url %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @restaurant.hours %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @restaurant.city %>
</p>

<% @reviews.each do |review| %>

      <tr>
        <td><%= review.reviewer %></td>
        <td><%= review.recommend %></td>
        <td><%= review.explanation %></td>
        <td><%= link_to 'Show', review %></td>
      </tr>
<% end %>
<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
