<%= form_for(review) do |f| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :reviewer %>
    <%= f.text_field :reviewer %>
  </div>

  <div class="field">
    <%= f.label :recommend %>
    <%= f.check_box :recommend %>
  </div>

  <div class="field">
    <%= f.label :explanation %>
    <%= f.text_field :explanation %>
  </div>

  <div class="field">
    <%= f.label :restaurant_id_id %>
    <%= f.text_field :restaurant_id_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
