<p id="notice"><%= notice %></p>

<p>
  <strong>Reviewer:</strong>
  <%= @review.reviewer %>
</p>

<p>
  <strong>Recommend:</strong>
  <%= @review.recommend %>
</p>

<p>
  <strong>Explanation:</strong>
  <%= @review.explanation %>
</p>

<p>
  <strong>Restaurant:</strong>
  <%= @review.restaurant_id %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
